body {
    text-align: center;
}

.chicken-pic {
    width: 800px;
}

ul {
    margin-top: 0; /* Remove default margin */
    padding-left: 275px; /* Add padding to create space for bullets */
    padding-right: 275px;
}

li {
    margin-bottom: 5px; /* Adjust margin between list items */
    font-size: 20px;
}

.colorful-text {
    color: #ffd6c7;
}

.chipotle-text {
    color: deeppink;
}

.nav-click {
    color: #ffd6c7; 
}

.newsletter-signup {
    background-color: #ffd6c7; 
    padding: 20px; 
}

@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .section1 img {
        max-width: 100%;
    }
    .section2 ul {
        padding-left: 0;
    }
    .newsletter-signup {
        margin-top: 20px;
    }
}